{% load static %}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="{% static 'styles.css'%}" rel="stylesheet" type="text/css" media="all" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
    
</head>
<body>
    {% if user.is_prouser is True %}
    <nav class="navbar has-shadow is-dark">
        <a class="navbar-burger" id="burger">
          <span></span>
          <span></span>
          <span></span>
        </a>
        
        <div class="navbar-menu" id="nav-links">
          <div class="navbar-end">
            <a class="navbar-item" href="/">Dashboard</a>
            <a class="navbar-item" href="logout">Logout</a>
            <!-- <a class="navbar-item">About us</a>
            <a class="navbar-item">About product</a> -->
          </div>
        </div>
    </nav>



    <div class="box">
        <h1>Upload your sequenced data here.</h1>
            <form action="upload" method="post">
                {% csrf_token %}
                        <div class="columns is-centered mb-0">
                            <div class="column is-4">
                                    <input type="hidden" class="input" name="username" value="{{user.username}}" hidden>
                                <div class="column">
                                    <label>Total sequenced:</label>
                                    <input class="input" type="number" name="Total_sequenced"  required="required">                                
                                </div>
                                <div class="column">
                                    <label class="lable">Last week:</label>
                                    <input class="input" type="number" name="Sequenced_last_week"  required="required">                                
                                </div>                            
                        
                            
                                <div class="column">
                                    <label class="lable">IGIB SFTP:</label>
                                    <input class="input" type="number" name="Uploaded_IGIB_SFTP"  required="required">                                
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="column">
                                    <label class="lable">NIBMG DataHub:</label>
                                    <input class="input" type="number" name="Uploaded_NIBMG_DataHub"  required="required">                                
                                </div>
                                <div class="column">
                                    <label class="lable">GISAID:</label>
                                    <input class="input" type="number" name="Uploaded_GISAID"  required="required">                                
                                </div>    
                                <div class="column">
                                    <label for="lable">Any collaboration:</label>
                                    <input class="input" id="lable" type="text" name="Any_collaboration"  required="required">                                
                                </div>

                            </div>
                        </div>

                        <div class="column is-4 is-offset-4 mt-0 pt-0">
                            <div class="column">
                                <button class="button is-fullwidth  is-primary">Submit</button>
                            </div>
                        </div>  
            </form>
        </div>
        <section class="hero">
            <div class="hero-body">
                <div class="table-container">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                      <thead id="head" class="has-text-centered">
                        <tr>
                          <th rowspan="2">ID</th>
                          <th rowspan="2">Date</th>
                          <!-- <th rowspan="2">Username</th> -->
                          <th rowspan="2">Total sequenced</th>
                          <th rowspan="2">Sequenced last week</th>
                          
                          <th rowspan="2">Cumulative sequenced</th>
                          <th colspan="3">Uploaded</th>
                          <th rowspan="2">Any collaboration</th>
                          <th rowspan="2">Action</th>
                        </tr>
                        <tr>
                            <th>IGIB SFTP</th>
                            <th>NIBMG DataHub</th>
                            <th>GISAID</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data %}
                        <tr>
                            <th scope="row">{{data.id}}</th>
                            <td>{{data.data_entry}}</td>
                            <!-- <td>{{data.username}}</td> -->
                            <td>{{data.Total_sequenced}}</td>
                            <td>{{data.Sequenced_last_week}}</td>
                            <td>{{data.Cumulative_sequenced}}</td>
                            <td>{{data.Uploaded_IGIB_SFTP}}</td>
                            <td>{{data.Uploaded_NIBMG_DataHub}}</td>
                            <td>{{data.Uploaded_GISAID}}</td>
                            <td>{{data.Any_collaboration}}</td>
                            <td>
        
                                <div style="width:100px;">
                                        <form action="{% url 'update' data.id %}" method="">
                                            {% csrf_token %}
                                            <input id="pointer" type="submit" value="update">
                                        </form>
                                        <form action="{% url 'delete' data.id %}" method="POST">
                                            {% csrf_token %}
                                            <input id="pointer" type="submit" value="delete"
                                            style="background-color: crimson; font:bold;">
                                        </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </section>
    
    {% else %}
        <nav class="navbar has-shadow is-dark">
            <a class="navbar-burger" id="burger">
              <span></span>
              <span></span>
              <span></span>
            </a>
            <div class="navbar-menu" id="nav-links">
                <h2 class="is-size-3">Hello, {{user.username}}!</h2>
              <div class="navbar-end">
                <a class="navbar-item" href="upgrade">Upgrade</a>
                <a class="navbar-item" href="/">Dashboard</a>
                <a class="navbar-item" href="logout">Logout</a>
                <!-- <a class="navbar-item">About us</a>
                <a class="navbar-item">About product</a> -->
              </div>
            </div>
        </nav>
        <h1>Welcome to Account Management system.</h1>
        <h1>Please upgrade your account to upload your sequenced data.</h1>
        
    <!-- </form> -->
    {% endif %}
    <script type="text/javascript">
        const burgerIcon = document.querySelector('#burger')
        const navbarMenu = document.querySelector('#nav-links')
        burgerIcon.addEventListener('click', () => {
          navbarMenu.classList.toggle('is-active');
        });
      </script>
</body>
</html>