{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" >
    <link href="{% static 'styles.css'%}" rel="stylesheet" type="text/css" media="all" />
    <title>Document</title>
</head>
<body>
        <nav class="navbar has-shadow is-dark">
          <a class="navbar-burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
          </a>
          {% if user.is_authenticated %}
          <div class="navbar-menu" id="nav-links">
            <h2 class="is-size-3">Hello, {{user.username}}!</h2>
            <div class="navbar-end">
              <a class="navbar-item" href="Home">Home</a>
              <a class="navbar-item" href="logout">Logout</a>
              <!-- <a class="navbar-item">About us</a>
              <a class="navbar-item">About product</a> -->
            </div>
          </div>
          {% else %}
          <div class="navbar-menu" id="nav-links">
            <div class="navbar-end">
              <a class="navbar-item" href="register">Register</a>
              <a class="navbar-item" href="login">Login</a>
              <!-- <a class="navbar-item">About us</a>
              <a class="navbar-item">About product</a> -->
            </div>
          </div>
          {% endif %}
        </nav>
           
        <h1 class="is-size-3">Dashboard</h1>
    <section class="hero">
        <div class="hero-body">
            <div class="table-container">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                  <!-- Your table content -->
                  <thead id="head" class="has-text-centered">
                    <tr>
                      <!-- <th rowspan="2">ID</th> -->
                      <th rowspan="2">Username</th>
                      <th rowspan="2">Date</th>
                      
                      <th rowspan="2">Total sequenced</th>
                      <th rowspan="2">Sequenced last week</th>
                      
                      <th rowspan="2">Cumulative sequenced</th>
                      <th colspan="3">Uploaded</th>
                      <th rowspan="2">Any collaboration</th>
                  </tr>
                  <tr>
                      <th>IGIB SFTP</th>
                      <th>NIBMG DataHub</th>
                      <th>GISAID</th>
                      
                  </tr>
                </thead>
                <tbody>
                    {% for data in data %}
                    <tr>
                        <!-- <th scope="row">{{data.id}}</th> -->
                        <td style="font-weight: bolder;">{{data.username}}</td>
                        <td>{{data.data_entry}}</td>
                        <td>{{data.Total_sequenced}}</td>
                        <td>{{data.Sequenced_last_week}}</td>
                        <td>{{data.Cumulative_sequenced}}</td>
                        <td>{{data.Uploaded_IGIB_SFTP}}</td>
                        <td>{{data.Uploaded_NIBMG_DataHub}}</td>
                        <td>{{data.Uploaded_GISAID}}</td>
                        <td>{{data.Any_collaboration}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
              </div>
    </div></section>
      <script type="text/javascript">
        const burgerIcon = document.querySelector('#burger')
        const navbarMenu = document.querySelector('#nav-links')
        burgerIcon.addEventListener('click', () => {
          navbarMenu.classList.toggle('is-active');
        });
      </script>

    
</body>

</html>


