

{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Login Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" >
<link href="{% static 'styles.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<!-- <section class="section">	 -->
	   	<div class="container">
			<form class="box" action="login" method="POST" style="margin-bottom: 10px; box-sizing: border-box;">
                {% csrf_token %}
				<h1>Login here</h1><br>
				<div class="field">
				<label class="label">Email</label>
				<div class="control">
					<input class="input" type="email" name="email" placeholder="e.g. alex@example.com" required="required">
				</div>
				</div>
			
				<div class="field">
				<label class="label">Password</label>
				
				<div class="control">
					<input class="input" id="id_password" type="password" name="password" placeholder="********"  required="required">
					<i class="far fa-eye-slash" id="togglePassword" ></i>
				</div>
				</div>
				<div class="column is-fullwidth"><button class="button is-primary is-fullwidth">Sign in</button></div>
				<div>Don't have an account? <a href="register">Register</a></div>
			</form>
		</div>
		<script>
			const togglePassword = document.querySelector('#togglePassword');
			  const password = document.querySelector('#id_password');
	 
			togglePassword.addEventListener('click', function (e) {
				// toggle the type attribute
				const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
				const icon = type == 'password' ? 'far fa-eye-slash' : 'far fa-eye'
				password.setAttribute('type', type);
				// toggle the eye slash icon
				togglePassword.className = icon
	});
		</script>
</body>
</html>